// Breakpoints
@bp-larger-than-mobile    : 400px;
@bp-larger-than-phablet   : 550px;
@bp-larger-than-tablet    : 750px;
@bp-larger-than-desktop   : 1000px;
@bp-larger-than-desktophd : 1200px;

body {
  margin: 0;
  background-color: #FFF;
}

body #root {
  margin: 0 auto;

  @media (min-width: @bp-larger-than-phablet) {
  }
}

.card_list {
    @media (min-width: @bp-larger-than-phablet) {
      max-width: 800px;
      margin: auto;
    }
}
