.tweetList
  rs-message-empty(ng-if="!tweets.length",title="title")
  div(infinite-scroll="nextPage()" infinite-scroll-distance="1", infinite-scroll-disabled="scrollDisabled")
    .tweet(ng-repeat="tweet in tweets",ng-click="go(tweet.tid)",ng-class="{marked: isMarked()}")
      .avatar
        .checkbox
          i.mdi.mdi-checkbox-blank-outline.blank(ng-click="mark($event)")
          i.mdi.mdi-checkbox-marked-outline.marked(ng-click="unmark($event)")
        img.profile(ng-src="{{tweet.profile_img}}")
      p.infos
        strong.name {{ tweet.name }}
        span.extra
          span.user.text-muted  @{{tweet.user}}
          span.time 
            a(ng-href="{{tweet.url}}") {{ tweet.time | elapsed }}
          span.retweets
            i.mdi.mdi-repeat
            |  {{tweet.retweets}}
          span.favs
            i.mdi.mdi-star
            | {{tweet.favs}}
      p.msg {{tweet.msg}}
        // a(ng-href="{{tweet.link}}") {{tweet.msg}}
      .media(ng-if="tweet.media != null")
        //- TODO Low-res version for mobile clients.
        img(ng-repeat="media in tweet.media",ng-src="{{media.media_url}}:large")
